@import "../abstracts/mixins.scss";
@import "../abstracts/variables.scss";

table {
    border-spacing: 0;
}

.table {
    max-width: 100%;
    max-height: $table-height;
    table-layout: fixed;

    position: absolute;
    top: $formula-height + $toolbar-height + $header-height;
    overflow: scroll;

    &__column {
        @include cell();
        padding: 0px;
        input {
            outline: 0px;
            border: none;
            width: $cell;
            height: 100%;
            width: 100%;

            &.selected {
                transition: box-shadow 200ms linear;
                outline: none;
                box-shadow: 0px 0px 0px 2px $hover-color;
            }
        }
    }

    .table__column--info {
        @include cell($row-info-cell);
    }

    .col-resize,
    .row-resize {
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0;
        background: #3c74ff;

        &:hover {
            opacity: 1 !important;
            cursor: col-resize;
        }
    }

    &__column--head {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        @include cell();
        color: #777;
        .col-resize {
            top: 0;
            min-width: 4px;
            &:hover {
                cursor: col-resize;
            }
        }
    }

    .table__column-num {
        @include cell($row-info-cell);
        position: relative;

        color: #777;
        font-size: 14px;
        text-align: center;

        .row-resize {
            position: absolute;
            min-height: 4px;
            left: 0;
            &:hover {
                cursor: row-resize;
            }
        }
    }
}
