@import "../abstracts/mixins.scss";
@import "../abstracts/variables.scss";

table {
    border-spacing: 0;
}

.table {
    max-width: 100%;
    max-height: $table-height;

    position: absolute;
    top: $formula-height + $toolbar-height + $header-height;
    overflow: scroll;

    &__column {
        @include cell();
        padding: 0px;
        input {
            outline: 0px;
            border: none;
            width: $cell;
            height: 100%;
            @include foucsEffect;
        }
    }

    .table__column--info {
        @include cell($row-info-cell);
    }

    &__column--head {
        font-size: 14px;
        font-weight: 400;
        @include cell();
        color: #777;
    }

    .table__column-num {
        @include cell($row-info-cell);
        color: #777;
        font-size: 14px;
        text-align: center;
    }
}
