//@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "./components/header.scss";
@import "./components/toolbar.scss";
@import "./components/formula.scss";
@import "./components/table.scss";
@import "./components/buttons.scss";
@import "./components/welcomePage.scss";
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

.excel {
    position: relative;
}
